

.contenedor{
  padding-top: 2rem;
}


.btnBuscar{
  background-color: yellow;
}



.contenedor-opciones{
  display: flex;

 
}

.btnbuscar{
  display: flex;
  margin-left: 65.5rem;
  border-radius: 4px;
  background-color: orangered;
background-image: rgb(255, 145, 0)
}

.tr-table{
  background-color: cornflowerblue;
}

